---
import NavGen from "../components/commons/NavGen.astro";
import ScrollTop from "../components/commons/ScrollTop.astro";
import HeroIndex from "../components/layouts/HeroIndex.astro";
import BaseHead from "../components/utilities/BaseHead.astro";
import { fetchGenerations } from "../utils/pokeApi";

interface Props {
	title: string;
	heroTitle: string;
	description: string;
	isHome?: boolean;
	gensData?: any;
}

const { title, heroTitle, description, gensData = await fetchGenerations(), isHome = false } = Astro.props;
---

<!doctype html>
<html lang="it">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	
	<body id="home">
		<HeroIndex title={heroTitle} />
		<header id="header" class="sticky top-5 z-[999]">
			<NavGen generations={gensData} isHome={isHome} />
		</header>
		<main id="main" class="mt-5">
			<slot />
			<ScrollTop />
		</main>
	</body>
</html>
