---
import NavGen from "../components/commons/NavGen.astro";
import ScrollTop from "../components/commons/ScrollTop.astro";
import HeroIndex from "../components/layouts/HeroIndex.astro";
import BaseHead from "../components/utilities/BaseHead.astro";
import { LINKS_API } from "../const";
import { getPokemonData } from "../utils/helpers/getDataJson";
import type { NameUrl, PokeApi } from "../utils/interfaces/types";

interface Props {
	title: string;
	heroTitle: string;
	description: string;
	isHome?: boolean;
}

const { title, heroTitle, description, isHome = false } = Astro.props;
const link = LINKS_API.find(x => x.id == 'generation');
const dataApi: NameUrl[] = [
	{
		name: link!.label,
		url: link!.href
	}
]
const data = await getPokemonData(dataApi, 'generations.json') as PokeApi[];
---

<!doctype html>
<html lang="it">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	
	<body id="home">
		<HeroIndex title={heroTitle} />
		<header id="header" class="sticky top-5 z-[999]">
			<NavGen generations={data} isHome={isHome} />
		</header>
		<main id="main" class="mt-5">
			<slot />
			<ScrollTop />
		</main>
	</body>
</html>
